<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <style>
        h4 {
            margin: 0em;

        }

        h5 {
            margin: 0em;
            text-align: right;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="css/gwern.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>

</head>

<body>
    <div id="dark-mode-toggle" title="Toggle Dark Mode">
        L/D
    </div>
    <!-- Floating window for Wikipedia content -->
    <div id="floating-window" style="display: none;">
        <div id="floating-header">
            <span id="window-title">Wikipedia</span>
            <button id="close-button">X</button>
        </div>
        <div id="wiki-content"></div>
    </div>
    <div class="bodyArticle">
        <div class="articleContainer">
            <div class="left-column">
                <!-- Empty left column -->
            </div>




            <div class="center-column">

                <div class="article-header">
                    <h1> {{TITLE}} </h1>

                    <div class="tags-section">
                        {{TAGS}}
                        <div class="date">
                            {{DATE}}
                        </div>

                    </div>

                </div>
                <div class="abstract">
                    {{ABSTRACT}}
                </div>

                {{CONTENT}}

            </div>
            <div class="right-column">
                <!-- Dynamic Side Notes -->
                {{SIDE-NOTES}}

            </div>
        </div>
    </div>

    <script>
        const width = 600;
        const radius = width / 2;
        const colorin = "green";
        const colorout = "orange";

        const tree = d3.cluster()
            .size([2 * Math.PI, radius - 100]);

        async function draw() {
            const data = hierarchy(await fetch("flare.json").then(response => response.json()));

            const root = tree(bilink(d3.hierarchy(data)
                .sort((a, b) => d3.ascending(a.height, b.height) || d3.ascending(a.data.name, b.data.name))
            ));

            const svg = d3.select(".left-column")
                .append("svg")
                .attr("width", width)
                .attr("height", width)
                .attr("viewBox", [-width / 2, -width / 2, width, width])
                .attr("style", "max-width: 100%; height: auto; font: 10px sans-serif;");



            const node = svg.append("g")
                .selectAll()
                .data(root.leaves())
                .join("g")
                .attr("transform", d => `rotate(${d.x * 180 / Math.PI - 90}) translate(${d.y},0)`);

            node.append("text")
                .attr("dy", "0.31em")
                .attr("x", d => d.x < Math.PI ? 6 : -6)
                .attr("text-anchor", d => d.x < Math.PI ? "start" : "end")
                .attr("transform", d => d.x >= Math.PI ? "rotate(180)" : null)
                .attr("font-size", "0.4em")
                .text(d => d.data.name)
                .on("mouseover", overed)
                .on("mouseout", outed)
                .call(text => text.append("title").text(d => `${id(d)}
    ${d.outgoing.length} outgoing
    ${d.incoming.length} incoming`));

            const link = svg.append("g")
                .attr("stroke", "#ccc")
                .attr("fill", "none")
                .selectAll()
                .data(root.leaves().flatMap(leaf => leaf.outgoing))
                .join("path")
                .attr("d", ([i, o]) => d3.lineRadial()
                    .curve(d3.curveBundle.beta(0.85))
                    .radius(d => d.y)
                    .angle(d => d.x)(i.path(o)));

            function overed(event, d) {
                link.style("mix-blend-mode", null);
                d3.select(this).attr("font-weight", "bold");
                d3.selectAll(d.incoming.map(d => d.path)).attr("stroke", colorin).raise();
                d3.selectAll(d.incoming.map(([d]) => d.text)).attr("fill", colorin).attr("font-weight", "bold");
                d3.selectAll(d.outgoing.map(d => d.path)).attr("stroke", colorout).raise();
                d3.selectAll(d.outgoing.map(([, d]) => d.text)).attr("fill", colorout).attr("font-weight", "bold");
            }

            function outed(event, d) {
                link.style("mix-blend-mode", "multiply");
                d3.select(this).attr("font-weight", null);
                d3.selectAll(d.incoming.map(d => d.path)).attr("stroke", null);
                d3.selectAll(d.incoming.map(([d]) => d.text)).attr("fill", null).attr("font-weight", null);
                d3.selectAll(d.outgoing.map(d => d.path)).attr("stroke", null);
                d3.selectAll(d.outgoing.map(([, d]) => d.text)).attr("fill", null).attr("font-weight", null);
            }

            function hierarchy(data, delimiter = ".") {
                let root;
                const map = new Map;
                data.forEach(function find(data) {
                    const {
                        name
                    } = data;
                    if (map.has(name)) return map.get(name);
                    const i = name.lastIndexOf(delimiter);
                    map.set(name, data);
                    if (i >= 0) {
                        find({
                            name: name.substring(0, i),
                            children: []
                        }).children.push(data);
                        data.name = name.substring(i + 1);
                    } else {
                        root = data;
                    }
                    return data;
                });
                return root;
            }

            function bilink(root) {
                const map = new Map(root.leaves().map(d => [id(d), d]));
                for (const d of root.leaves()) d.incoming = [], d.outgoing = d.data.imports.map(i => [d, map.get(
                    i)]);
                for (const d of root.leaves())
                    for (const o of d.outgoing) o[1].incoming.push(o);
                return root;
            }

            function id(node) {
                return `${node.parent ? id(node.parent) + "." : ""}${node.data.name}`;
            }
        }

        draw();
    </script>

    <script>
        function updateSideNotes() {
            const references = document.querySelectorAll('.reference');
            references.forEach(ref => {
                const noteId = `side-note-${ref.dataset.ref}`;
                const sideNote = document.getElementById(noteId);

                if (sideNote) {
                    const refPosition = ref.getBoundingClientRect();

                    // Get the previous element
                    const previousElement = ref.previousElementSibling;

                    if (previousElement) {
                        const previousHeight = previousElement.getBoundingClientRect();

                        console.log(`Previous element height:`, previousHeight);
                        console.log(`Current reference position:`, refPosition);

                        // Adjust the side note's position relative to the previous element
                        sideNote.style.top = `${window.scrollY + previousHeight.top}px`;
                    } else {
                        // Fallback if there's no previous element
                        sideNote.style.top = `${window.scrollY + refPosition.top}px`;
                    }
                }
            });
        }

        // Update side notes on load and window resize
        window.addEventListener('load', updateSideNotes);
        window.addEventListener('resize', updateSideNotes);


        function changeColor(color) {

            d3.selectAll("g")
                .transition()
                .duration(2000)
                .style("fill", color)
        }

        const darkModeToggle = document.getElementById('dark-mode-toggle');
        darkModeToggle.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            changeColor("white")

        });
    </script>

    <script src="src/wikiSearch.js"></script>
</body>

</html>